<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.englishthinh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EnlishThinh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pageChaoHoi"
            android:parentActivityName=".EnlishThinh"></activity>
        <activity android:name=".pageTime"
            android:parentActivityName=".EnlishThinh"></activity>
        <activity android:name=".pageMuaSam"
            android:parentActivityName=".EnlishThinh"></activity>
        <activity android:name=".pageKetBan"
            android:parentActivityName=".EnlishThinh"></activity>
        <activity android:name=".pageFood"
            android:parentActivityName=".EnlishThinh"></activity>
        <activity android:name=".pageCongSo"
            android:parentActivityName=".EnlishThinh"></activity>
        <activity android:name=".pageAboutUs"
            android:parentActivityName=".EnlishThinh"></activity>
        <activity android:name=".pageTroChuyen"
            android:parentActivityName=".EnlishThinh"></activity>
    </application>

</manifest>